{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    <td>
    	 <br/>            
	    <img src="{{ asset('') }}webservice/uploaded/{{ object.imagefilename }}"/>
	    </br>	    
	</td>
{% endblock %}